html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
}
body > .container {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}


.form-center {
    max-width: 330px;
    margin: auto;
}
.form-center .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-center .form-control:focus {
    z-index: 2;
}
.form-center input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}
.form-center button {
    margin-top: 15px;
}

.thumbnail {
    width: 25%;
    height: auto;
    object-fit: contain;
    padding: 5px;
    border: 1px solid #444;
    cursor: pointer;
}

.thumbnail:hover {
    background-color: #444;
}

img {
    width: 100%;
}

.like-icon, .unlike-icon {
    cursor: pointer;
}

.like-icon::before {
    font-size: x-large;
    content: '❤️';
    color: red;
    margin-right: 10px;
}

.unlike-icon::before {
    font-size: x-large;
    content: '💔';
    margin-right: 10px;
}

.comment-icon::before {
    font-size: x-large;
    content: '💬';
    margin-right: 10px;
}

.card-footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
}